---
layout: page
title: Events
---
<section class="title">
  <h1>Upcoming events</h1>
</section>

{% for event in site.data.calendars["nar47r6qbo04v9j4htgave8nvk@group.calendar.google.com"] %}
{% assign evnt_start =  event.start.dateTime | date:"%s" | times: 1  %}
{% assign now_date = "now" | date:"%s" | times: 1 %}
  {% if now_date < evnt_start %}
    <a class ="card" href="{{ event.url }}">
      <section class="card">
        <div class="date">
          <p>
            <time class="day">{{ event.start.dateTime | date:"%d" }}</time><br>
            <time class="month">{{ event.start.dateTime | date:"%b" }}</time>
          </p>
        </div>
        <div class="info">
          <h1>{{ event.summary }}</h1>
          <p>
            <time>{{ event.start.dateTime | date:"%H:%M %P" }}</time>
            to
            <time>{{ event.end.dateTime |  date:"%H:%M %P "}}</time>
          </p>
        </div>
      </section>
    </a>
  {% endif %}
{% endfor %}
