{% for event in include.events %}
  {% capture now_unix %}{{'now' | date: '%s'}}{% endcapture %}
  {% capture start_time %}{{event.start_date | date: '%s'}}{% endcapture %}
  {% if start_time > now_unix or include.future != true %}
    <a class ="card" href="{{ event.url }}">
      <section class="card">
        <div class="date">
          <p>
            <time class="day">{{ event.start_date | date:"%d" }}</time><br>
            <time class="month">{{ event.start_date | date:"%b" }}</time>
          </p>
        </div>
        <div class="info">
          <h1>{{ event.title }}</h1>
          <p>
            <time>{{ event.start_date | date:"%H:%M %P" }}</time>
            to
            <time>{{ event.end_date |  date:"%H:%M %P "}}</time>
          </p>
        </div>
      </section>
    </a>
  {% endif %}
{% endfor %}
