<footer>
  <div class="social">
    <a href="https://www.facebook.com/axedraxlovetrees"><img class="icon" src="/assets/images/facebook.svg" title="Facebook" alt="Facebook page"></a>
    <a href="https://instagram.com/axe_drax"><img class="icon" src="/assets/images/instagram.svg" alt="Instagram page" title="Instagram"></a>
    <a href="https://t.me/axedrax"><img class="icon" src="/assets/images/telegram.svg" alt="Telegram broardcast" title="Telegram"></a>
    <a href="mailto:axedrax@pm.me"><img class="icon" src="/assets/images/email_icon.svg" alt="Send email to axedrax@pm.me" title="Email"></a>
  </div>
</footer>
