<meta charset="utf-8">
{% feed_meta %}
{% seo %}
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/axedrax.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
<link rel="alternative icon" href="{{ site.logo | relative_url }}" type="image/png">
<meta name="viewport" content="width=device-width">
